*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  width: 100vw;
  font-family: "ff-good-headline-web-pro-ext", serif;
  font-weight: 400;
  line-height: 1.6;
  background: linear-gradient(to right, #caf2f1 50%, #eee0c9) no-repeat center/cover;
  color: #586967; }

.container {
  max-width: 1350px;
  margin: 3.5rem auto 0 auto; }

.upper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backface-visibility: none; }
  .upper__logo {
    margin-left: 5rem; }
  .upper__language {
    font-size: 1.8rem;
    color: #333d3c;
    text-transform: uppercase;
    line-height: 1.2;
    display: flex;
    align-items: center;
    margin-right: 5rem;
    font-weight: 700;
    width: 20px; }
    .upper__language--pl {
      margin-right: 1rem; }
    .upper__language--pl, .upper__language--en {
      width: 10px;
      transition: all 0.3s ease-in-out; }
    .upper__language--pl:hover, .upper__language--en:hover {
      cursor: pointer;
      color: #fff; }

.start {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-top: 15rem;
  text-align: center;
  position: relative;
  height: 1000px; }
  .start__feeling {
    font-size: 2.4rem;
    font-weight: 400; }
  .start__unpack {
    font-size: 8rem;
    color: #333d3c; }
  .start__scroll {
    margin-top: 25rem;
    letter-spacing: 0.2rem;
    color: #333d3c; }
  .start__line {
    width: 1px;
    height: 12rem;
    border: 1px solid #333d3c;
    margin: 1rem auto; }
  .start__box {
    position: absolute;
    left: 57%;
    transform: translateX(-57%);
    top: 6.5rem;
    z-index: -1; }
  .start__box-shadow {
    position: absolute;
    left: 45%;
    transform: translateX(-45%);
    top: 50rem;
    z-index: -2; }

.insta,
.fb {
  margin: 0 0.5rem;
  cursor: pointer; }

.insta path,
.fb path {
  transition: all 0.3s ease-in-out; }

.insta:hover g,
.fb:hover g {
  opacity: 100%; }

.insta:hover path,
.fb:hover path {
  fill: #fff; }

.btn, .btn:link, .btn:visited {
  padding: 0.3rem 2.5rem;
  border: 1px solid #fff;
  font-size: 2.4rem;
  letter-spacing: 2px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease-in; }
  .btn:hover, .btn:link:hover, .btn:visited:hover {
    transform: translateY(-3px); }
  .btn:active, .btn:focus, .btn:link:active, .btn:link:focus, .btn:visited:active, .btn:visited:focus {
    outline: none;
    transform: translateY(-1px); }
  .btn::after, .btn:link::after, .btn:visited::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s ease-in-out;
    opacity: 1; }
  .btn:hover::after, .btn:link:hover::after, .btn:visited:hover::after {
    transform: scale(1.5, 1.7);
    opacity: 0; }

.decoration {
  position: absolute;
  width: auto;
  height: auto; }
  .decoration-1 {
    top: 0;
    left: 43rem;
    z-index: -1; }
  .decoration-2 {
    left: 40.5rem;
    top: 2.8rem; }
  .decoration-3 {
    left: 36.8rem;
    top: 10.7rem; }
  .decoration-4 {
    top: 15.1rem;
    left: 43.1rem; }
  .decoration-5 {
    left: 44.7rem;
    top: 19.9rem; }
  .decoration-6 {
    left: 48.3rem;
    top: 24.5rem; }
  .decoration-7 {
    left: 49.5rem;
    top: 34.9rem;
    z-index: 1; }
  .decoration-8 {
    left: 34.1rem;
    top: 34.7rem;
    z-index: 1; }
  .decoration-9 {
    left: 45.1rem;
    top: 39.3rem; }
  .decoration-10 {
    left: 93.4rem;
    top: 47.1rem; }
  .decoration-11 {
    left: 13.2rem;
    top: 72.1rem; }
  .decoration-12 {
    left: 0px;
    top: 64.4rem; }
  .decoration-13 {
    left: 81.4rem;
    top: 53.1rem; }
  .decoration-14 {
    left: 53.7rem;
    top: 83.7rem; }

.hamburger {
  position: fixed;
  top: 42rem;
  right: 0;
  padding: 13px;
  display: inline-block;
  cursor: pointer;
  background-color: #333d3c;
  border: 0;
  margin: 0;
  transition: background-color 0.4s ease-in-out, transform 0.3s 0.1s ease-in-out;
  outline: none;
  z-index: 100; }

.hamburger:hover {
  background-color: #586967; }

.hamburger--active {
  transform: translateX(-100px);
  background: transparent;
  z-index: 2; }

.hamburger--active:hover {
  background-color: transparent; }

.hamburger__box {
  width: 25px;
  height: 16px;
  display: inline-block;
  position: relative; }

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  width: 100%;
  height: 2px;
  background-color: #eee0c9;
  position: absolute;
  left: 0; }

.hamburger__inner {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s 0.1s ease-in-out; }

.hamburger__inner::before,
.hamburger__inner::after {
  content: '';
  transition: transform 0.3s 0.2s ease-in-out; }

.hamburger__inner::before {
  top: -5px; }

.hamburger__inner::after {
  top: 6px; }

.hamburger--active .hamburger__inner {
  background: transparent; }

.hamburger--active .hamburger__inner::before {
  transform: translateY(5px) rotate(45deg);
  background: #333d3c; }

.hamburger--active .hamburger__inner::after {
  transform: translateY(-6px) rotate(-45deg);
  background: #333d3c; }

.navigation {
  height: 50vh;
  width: 200px;
  background: transparent;
  position: fixed;
  top: 42rem;
  right: 0;
  border-bottom-left-radius: 80%;
  border-top-left-radius: 80%;
  transform: translateX(200px);
  transition: transform 0.3s 0.1s ease-in-out;
  z-index: 1; }
  .navigation__list {
    list-style: none;
    margin-top: 50px;
    text-align: center;
    margin-right: 40px; }
  .navigation__item {
    font-size: 3rem;
    line-height: 250%; }
    .navigation__item a {
      color: #333d3c;
      transition: color 0.3s ease-in-out; }
    .navigation__item a:hover {
      color: #fff; }

.navigation--active {
  transform: translateX(0); }
