.insta,
.fb {
  margin: 0 0.5rem;
  cursor: pointer;
}

.insta path,
.fb path {
  transition: all 0.3s ease-in-out;
}

.insta:hover g,
.fb:hover g {
  opacity: 100%;
}

.insta:hover path,
.fb:hover path {
  fill: $white;
}

.btn {
  &,
  &:link,
  &:visited {
    padding: 0.3rem 2.5rem;
    border: 1px solid $white;
    font-size: 2.4rem;
    letter-spacing: 2px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease-in;

    &:hover {
      transform: translateY(-3px);
    }

    &:active,
    &:focus {
      outline: none;
      transform: translateY(-1px);
    }

    &::after {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      border: 1px solid $white;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s ease-in-out;
      opacity: 1;
    }

    &:hover::after {
      transform: scale(1.5, 1.7);
      opacity: 0;
    }
  }
}
