.upper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backface-visibility: none;
  padding: 0 5rem;

  &__language {
    font-size: 1.8rem;
    color: $main-font-color;
    text-transform: uppercase;
    line-height: 1.2;
    display: flex;
    align-items: center;
    margin-right: 5rem;
    font-weight: 700;
    width: 20px;

    &--pl {
      margin-right: 1rem;
    }

    &--pl,
    &--en {
      width: 10px;
      transition: all 0.3s ease-in-out;
    }

    &--pl:hover,
    &--en:hover {
      cursor: pointer;
      color: $white;
    }
  }
}

.start {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-top: 15rem;
  text-align: center;
  position: relative;
  height: 1000px;

  &__feeling {
    font-size: 2.4rem;
    font-weight: 400;
    animation: appear 1.5s 0.8s ease-in-out both;
  }

  &__unpack {
    font-size: 8rem;
    color: $main-font-color;
    animation: appear 1.5s 0.2s ease-in-out both;
  }
}
