@mixin style-link-text {
  text-decoration: none;
  color: $color-secondary-light;
  cursor: pointer;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (min-width: 600px) {
      @content;
    }
  }

  @if $breakpoint == tab {
    @media only screen and (min-width: 900px) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint == huge {
    @media only screen and (min-width: 1500px) {
      @content;
    }
  }
}
