.hamburger {
  position: fixed;
  top: 42rem;
  right: 0;
  padding: 13px;
  display: inline-block;
  cursor: pointer;
  background-color: $main-font-color;
  border: 0;
  margin: 0;
  transition: background-color 0.4s ease-in-out, transform 0.3s 0.1s ease-in-out;
  outline: none;
  z-index: 100;
}

.hamburger:hover {
  background-color: $secondary-font-color;
}

.hamburger--active {
  transform: translateX(-100px);
  background: transparent;
  z-index: 2;
}

.hamburger--active:hover {
  background-color: transparent;
}

.hamburger__box {
  width: 25px;
  height: 16px;
  display: inline-block;
  position: relative;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  width: 100%;
  height: 2px;
  background-color: $light-rose;
  position: absolute;
  left: 0;
}

.hamburger__inner {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s 0.1s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
  content: '';
  transition: transform 0.3s 0.2s ease-in-out;
}

.hamburger__inner::before {
  top: -5px;
}

.hamburger__inner::after {
  top: 6px;
}

.hamburger--active .hamburger__inner {
  background: transparent;
}

.hamburger--active .hamburger__inner::before {
  transform: translateY(5px) rotate(45deg);
  background: $main-font-color;
}

.hamburger--active .hamburger__inner::after {
  transform: translateY(-6px) rotate(-45deg);
  background: $main-font-color;
}

.navigation {
  height: 50vh;
  width: 200px;
  background: transparent;
  position: fixed;
  top: 42rem;
  right: 0;
  border-bottom-left-radius: 80%;
  border-top-left-radius: 80%;
  transform: translateX(200px);
  transition: transform 0.3s 0.1s ease-in-out;
  z-index: 1;

  &__list {
    list-style: none;
    // background: red;
    margin-top: 50px;
    text-align: center;
    margin-right: 40px;
  }

  &__item {
    font-size: 3rem;
    line-height: 250%;

    a {
      color: $main-font-color;
      transition: color 0.3s ease-in-out;
    }

    a:hover {
      color: $white;
    }
  }
}

.navigation--active {
  transform: translateX(0);
}
