//colors:
$light-blue: #caf2f1;
$light-rose: #eee0c9;
$white: #fff;
$main-font-color: #333d3c;
$secondary-font-color: #586967;

// font-family:
// font-family: 'sofia-pro', sans-serif;
$GoodHeadlinePro: 'ff-good-headline-web-pro-ext', serif;
